{{define "head"}}
{{if not .Dev}}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-239138-28"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-239138-28');
</script>
{{end}}
<meta charset="utf-8">
<title>{{if .title}} {{.title}} -{{end}} Altlimit LLC</title>
<meta name="description" content="{{.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" href="/css/styles.css">
<script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
{{template "addHead" .}}
{{end}}

{{define "addHead"}}{{end}}