{{define "head"}}
{{if not .Dev}}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-239138-28"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-239138-28');
</script>
{{end}}
<meta charset="utf-8">
<title>{{if .title}} {{.title}} -{{end}} Altlimit LLC</title>
<meta name="description" content="{{.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" href="/css/styles.css">
<script>
(function(d) {
    if(d.currentScript) {
        const s = d.createElement("script");
            s.src = "https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.2.4/dist/alpine.min.js";
            s.defer = true;
            d.head.appendChild(s);
    } else {
        var s = d.createElement("script");
            s.src = "https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.2.4/dist/alpine-ie11.min.js";
            d.head.appendChild(s);
    }
})(document);
</script>
{{template "addHead" .}}
{{end}}

{{define "addHead"}}{{end}}