<!DOCTYPE html>
<html>

<head>

    {{template "head" .}}
    <script>
        function menu() {
            return {
                isOpen: false,
                isActive: function (link) {
                    return location.pathname == (link === "/" ? link : link + "/")
                }
            }
        }
    </script>
</head>

<body>
    <div class="header">
        <header id="top" x-data="menu()">
            <nav :class="[isOpen ? 'open' : 'close']" @click.away="isOpen=false"
                x-cloak>
                <div class="brand">
                    <a href="/">
                        <figure>
                            <img src="/logo.png" class="mb-1" alt="Altlimit LLC logo" />
                            <figcaption>Altlimit
                                <div class="tagline">Alternative to Limitations</div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <button type="button"
                @click="isOpen = !isOpen"
                    class="flex w-10 h-10 px-2 text-gray-500 hover:text-white focus:outline-none focus:text-white"
                    :class="{ 'transition transform-180': isOpen }"
                >
                    <svg
                    class="h-10 w-10 block fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    >
                    <path
                        x-show="isOpen"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
                    />
                    <path
                        x-show="!isOpen"
                        fill-rule="evenodd"
                        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                    />
                    </svg>
                </button>
                <ul class="links">
                    {{$links := data "links.json"}}
                {{ range $links }}
                <li><a href="{{.path}}" @click="isOpen = false"
                    :class="{'active':isActive('{{.path}}')}">{{.name}}</a></li>
                {{end}}
                </ul>

            </nav>
        </header>
    </div>
    {{template "content" .}}
    <footer>
        <div class="nav">
            <ul class="links">
                <li class="title">Quick Links</li>
                {{$links := data "links.json"}}
                {{ range $links }}
                <li><a href="{{.path}}" @click="isOpen = false"
                    :class="{'active':isActive('{{.path}}')}">{{.name}}</a></li>
                {{end}}
            </ul>
            {{$contact := data "contact.json"}}
            <ul class="list">
                <li class="header">Email Us</li>
                <li><i class="fa-solid fa-envelope"></i>{{$contact.email}}</li>
                <li class="header">Call Us</li>
                <li><i class="fa-solid fa-phone"></i>{{$contact.phone}}</li>
            </ul>
            <div class="split">
                <ul class="social">
                    <li class="header">Follow Us</li>
                    <li><a href="https://github.com/altlimit"><i class="fa-brands fa-github"></i>GitHub</a></li>
                    <li><a href="https://twitter.com/altlimit"><i class="fa-brands fa-twitter"></i>Twitter</a></li>
                </ul>
                <a class="anchor" href="#top"><i class="fa-solid fa-arrow-up"></i>Back To Top</a>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <span>&copy; Altlimit LLC <script>document.write(new Date().getFullYear());</script></span>
                <ul class="links">
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>