<!DOCTYPE html>
<html>

<head>
    {{template "head" .}}
    <script>
        function menu() {
            return {
                viewMenu: false,
                isActive: function (link) {
                    return location.pathname == (link === "/" ? link : link + "/")
                }
            }
        }
    </script>
</head>

<body>
    <div class="container mx-auto px-8 py-4">
        <header class="flex flex-col sm:flex-row items-center justify-between py-6 relative" x-data="menu()">
            <h3 class="text-gray-700 text-center">
                <a href="/"><img src="/logo.png" class="mb-1" alt="Altlimit LLC logo" /></a>
            </h3>
            <nav class="md:flex text-lg" x-bind:class="{'flex flex-wrap': viewMenu, 'hidden': !viewMenu}"
                x-cloak>
                {{$links := data "links.json"}}
                {{ range $links }}
                <a href="{{.path}}"
                    x-bind:class="{'w-full': viewMenu, 'active':isActive('{{.path}}')}">{{.name}}</a>
                {{end}}
            </nav>
            <button class="flex md:hidden flex-col absolute top-0 right-0 p-4 mt-5"
                x-on:click="viewMenu = !viewMenu">
                <span class="w-5 h-px mb-1 bg-red-500"></span>
                <span class="w-5 h-px mb-1 bg-red-500"></span>
                <span class="w-5 h-px mb-1 bg-red-500"></span>
            </button>
        </header>
        {{template "content" .}}
    </div>
    <footer class="footer">
        <div class="container bg-primary">
            &copy; Altlimit LLC 2022
        </div>
    </footer>
</body>

</html>