---
template: main.html
title: About
---

{{define "content"}}
{{$us := data "about.json"}}
<div>
    <h1 class="text-lg font-medium">About</h1>
    <p class="py-4 text-gray-700 text-base">
        We are a team of remote developers around the world.
    </p>

    <div class="flex flex-col sm:flex-row">
        {{range $us}}
        <div class="sm:w-1/4 pr-2 pb-2">
            <div class="bg-white pt-6 px-3 rounded-sm shadow text-center" style="min-height: 13rem;">
                <div class="mb-3">
                    <img class="w-auto mx-auto rounded-full" src="{{.image}}" alt="" />
                </div>
                <h2 class="text-xl font-medium text-gray-700">{{ .name }}</h2>
                <span class="text-blue-500 block mb-5">{{ .role }}</span>
            </div>
        </div>
        {{end}}
    </div>

    <div class="flex flex-col sm:flex-row pt-4">
        <div class="sm:w-1/2">
            <div class="bg-white pt-6 px-3">
                <div class="mb-2 font-semibold">
                    Headquarters
                </div>
                <div class="text-base text-gray-700">
                    Altlimit LLC<br />
                    5900 Balcones Drive Suite 100<br />
                    Austin, TX 78731
                </div>
            </div>
        </div>
        <div class="sm:w-1/2">
            <div class="bg-white pt-6 px-3">
                <div class="mb-2 font-semibold">
                    For Mail
                </div>
                <div class="text-base text-gray-700">
                    Altlimit LLC<br />
                    11900 Jollyville Rd #204055<br />
                    Austin, TX 78720-5164
                </div>
            </div>
        </div>
    </div>

</div>

{{end}}