---
template: main.html
title: Company
---

{{define "content"}}
{{$us := data "about.json"}}
<div>
    <div class="banner accent" style="background-image:url('/img/company.jpg')">
        <div class="backdrop"></div>
        <div class="pitch">
            <h1 class="title">Our Company
            </h1>
            <p>See some of our work</p>
        </div>
    </div>
    <div class="overview">
        <h1 class="title">
            Our Company
        </h1>

    </div>
    <h1 class="text-lg font-medium">About</h1>
    <p class="py-4 text-gray-700 text-base">
        We are a team of remote developers around the world.
    </p>

    <div class="flex flex-col sm:flex-row">
        {{range $us}}
        <div class="sm:w-1/4 pr-2 pb-2">
            <div class="bg-white pt-6 px-3 rounded-sm shadow text-center" style="min-height: 13rem;">
                <div class="mb-3">
                    <img class="w-auto mx-auto rounded-full" src="{{.image}}" alt="" />
                </div>
                <h2 class="text-xl font-medium text-gray-700">{{ .name }}</h2>
                <span class="text-blue-500 block mb-5">{{ .role }}</span>
            </div>
        </div>
        {{end}}
    </div>
</div>

{{end}}