---
template: main.html
title: Alternative to Limitations
---

{{define "content"}}

<main>
    <div class="hero" style="background-image:url('/img/hero.jpg')">
        <div class="backdrop"></div>
        <div class="pitch">
            <h1 class="title">MVP Solutions & Beyond, Guaranteed Delivered!</h1>
            <p>Our customers rely on us to build responsive web applications hosted on Google Cloud Platform.</p>
            <a href="/contact"
                class="button call-to-action primary">Tell Us About Your Project
            </a>
        </div>
    </div>
    <div class="overview">
        <h2 class="title">What We Do</h2>
        <p>We offer customized software applications.</p>
    </div>
    <div class="feature cards">
        {{$services := data "services.json"}}
        {{ range $services }}
        <div class="card">
            <figure>
                <img src="{{.image}}" alt="{{.name}}"/>
            </figure>
            <h2 class="title">{{.name}}</h2>
            <p>{{.description}}</p>
        </div>
        {{end}}

    </div>
    <div class="overview">
        <h2 class="title">What Our Customers Say About Us?</h2>
        <p>We make happy customers.</p>
    </div>
    <div class="banner quote">
        <article>
            <p>"These people are the best in their field."
                <span class="byline">- A Shopswired Seller</span>
            </p>
        </article>
    </div>
    <div class="overview">
        <h2 class="title">Technology and Infrastructure</h2>
        <p>Altlimit uses modern technologies to power software and services</p>
    </div>
    <div class="feature logos">
        {{$tech := data "tech.json"}}
        {{ range $tech }}
        <figure>
            <img src="{{.image}}" alt="{{.name}}"/>
        </figure>
        {{end}}
    </div>

</main>
{{end}}