---
template: main.html
title: Pricing
---

{{define "addHead"}}
<style>
    .tooltip-trigger .tooltip-target {
        display: none;
        z-index: 1;
    }

    .tooltip-trigger:hover .tooltip-target {
        display: block;
    }

    input:checked+svg {
        display: block;
    }
</style>
<script>
    function pricing() {
        return {
            cost: 10000,
            projects: [{
                val: 0,
            }],
            support: false,
            addProject: function () {
                this.projects = this.projects.concat([{
                    val: 0
                }]);
            },
            total: function () {
                const total = {cost: 0, devs: 0};
                for (let i = 0; i < this.projects.length; i++) {
                    const p = this.projects[i];
                    total.cost += p.val * this.cost;
                    total.devs += p.val;
                }

                if (this.support && total.cost <= 0) {
                    total.cost += 500;
                }
                total.prorate = Number(total.cost / 30).toFixed(0);
                return total;
            }
        }
    }
</script>
{{end}}

{{define "content"}}

<div x-data="pricing()">
    <div class="banner" style="background-image:url('/img/pricing.jpg')">
        <div class="backdrop"></div>
        <div class="pitch">
            <article>
                <h1 class="title">Pricing
                    <span class="subtitle">Made Simple</span>
                </h1>
                <p>No hidden fees. No surprises.</p>
            </article>
        </div>
    </div>
    <div class="overview">
        <h1 class="title">
            Our Simple Pricing Model
        </h1>
    </div>
    <div class="workspace">
        <figure class="sidebar card">
            <img src="/img/pricing_sidebar.jpg" alt="Image"/>
            <article>
                <h2 class="title">$150/hr</h2>
                <p class="subtitle">Minimum 4 weeks</p>
            </article>
            <table class="table" style="width:100%;min-width:25%">
                <thead>
                    <tr>
                        <th colspan="2">Services available on the package</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Responsive web application</td>
                        <td class="check">&#x1F5F8;</td>
                    </tr>
                    <tr>
                        <td>Android/iOS applications</td>
                        <td class="check">&#x1F5F8;</td>
                    </tr>
                    <tr>
                        <td>Desktop applications</td>
                        <td class="check">&#x1F5F8;</td>
                    </tr>
                    <tr>
                        <td>Server setup and configuration</td>
                        <td class="check">&#x1F5F8;</td>
                    </tr>
                    <tr>
                        <td>Support for Active Projects</td>
                        <td class="check">&#x1F5F8;</td>
                    </tr>
                    <tr>
                        <td>Server costs</td>
                        <td class="cross">&#x2A2F;</td>
                    </tr>
                    <tr>
                        <td>Content creation</td>
                        <td class="cross">&#x2A2F;</td>
                    </tr>
                </tbody>
            </table>
        </figure>
        <div class="main rows">
            <article>
                <h2 class="title">Service Fee @ $150/hr</h2>
                <p>We charge a flat rate of $150/hr for a minimum of $24,000 for 4 weeks of full software development service.</p>
                <p>A 25% down payment is due prior to the start of the project. After that, the remaining balance will be due upon each project milestone completion. This process ensures that both client and the development team are on the same page throughout the project duration.</p>
                <p>Through each billing cycle, we will include fees for server and infrastructure costs and other third party services (if applicable) as detailed items on your invoice.</p>
            </article>
            <article>
                <h2 class="title">Server And Infrastructure Costs</h2>
                <p>Although your server/infrastructure configuration is a service we offer, the cost depends on the client’s chosen service provider. Payment for these services is not included on our service fee.</p>
            </article>
            <article>
                <h2 class="title">Third Party Service Integration Cost</h2>
                <p>Likewise, third party service integration is included in our offerings. However, the cost for any third party services such as Stripe/Stripe Connect, SendGrid, etc is the client’s responsibility. </p>
            </article>
        </div>
    </div>
</div>

{{end}}