---
template: main.html
title: Services
---

{{define "content"}}
{{$services:=data "services.json"}}
<main>
    <h1 class="text-lg font-medium">Services</h1>

    <div class="py-4">
        <div class="block md:flex justify-between md:-mx-2">
            {{range $services}}
            <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                <div class="bg-white rounded-sm overflow-hidden shadow relative">
                    <img class="h-56 w-full object-cover object-center" src="{{.image}}" alt="">
                    <div class="p-4 h-auto md:h-40 lg:h-48">
                        <a
                            class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
                            {{.name }}
                        </a>
                        <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                            {{.description}}
                        </div>
                        <div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
                            {{range .tags}}
                            <a
                                class="inline-block mr-1 bg-gray-300 py-1 px-2 rounded-lg text-xs lowercase text-gray-700">#{{.}}</a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</main>
{{end}}