---
template: main.html
title: Work
---

{{define "addHead"}}
<script>
    function work() {
        let slides = null;
        return {
            init: function () {
                slides = JSON.parse(this.$refs.slides.value);
                this.timer = setInterval(this.nextSlide.bind(this), 10000);
            },
            slides: function () {
                return slides;
            },
            slideIndex: 0,
            timer: null,
            slide: function () {
                return this.slides()[this.slideIndex];
            },
            nextSlide: function (cancel) {
                if (cancel) {
                    this.cancelIterval();
                }
                if (this.slideIndex + 1 < slides.length) {
                    this.slideIndex++;
                } else {
                    this.slideIndex = 0;
                }
            },
            prevSlide: function (cancel) {
                if (cancel) {
                    this.cancelIterval();
                }
                if (this.slideIndex - 1 >= 0) {
                    this.slideIndex--;
                } else {
                    this.slideIndex = slides.length - 1;
                }
            },
            cancelIterval: function () {
                clearInterval(this.timer);
                this.timer = null;
            }
        }
    }
</script>
{{end}}

{{define "content"}}
<div x-data="work()" x-init="init()">
    <div class="banner primary" style="background-image:url('/img/solutions.jpg')">
        <div class="backdrop"></div>
        <div class="pitch">
            <article>
                <h1 class="title">Our Solutions
                </h1>
                <p>See some of our work</p>
            </article>
        </div>
    </div>
    <div class="overview">
        <h1 class="title">
            See Our Work
        </h1>
    </div>
    {{$work := data "work.json"}}
    {{ range $work }}
    <div class="feature">
        <figure>
            <img src="{{.image}}" alt="{{.title}}"/>
        </figure>
        <article>
            <h2 class="title">{{.title}}</h2>
            {{ range .description }}
            <p>{{.}}</p>
            {{end}}
            {{if .url}}
            <a class="mt-5 link" href="{{.url}}">&#x23F5; Learn More</a>
            {{end}}
        </article>
    </div>
    {{end}}
</div>
{{end}}