---
template: main.html
title: Work
---

{{define "content"}}
<div>
    <div class="banner primary" style="background-image:url('/img/solutions.jpg')">
        <div class="backdrop"></div>
        <div class="pitch">
            <article>
                <h1 class="title">Our Solutions
                </h1>
                <p>See some of our work</p>
            </article>
        </div>
    </div>
    <div class="overview">
        <h2 class="title">
            Recent Projects
        </h2>
        <p>Check out some of our most recent projects.</p>
    </div>
    <div>
        {{$work := data "work.json"}}
        {{ range $work }}
        <div class="feature">
            <figure>
                <img src="{{.image}}" alt="{{.title}}"/>
            </figure>
            <article>
                <h2 class="title">{{.title}}</h2>
                {{ range .description }}
                <p>{{.}}</p>
                {{end}}
                {{if .url}}
                <a class="mt-5 link" href="{{.url}}" target="_blank"><i class="fa-solid fa-caret-right"></i> Go to {{.title}}</a>
                {{end}}
            </article>
        </div>
        {{end}}
    </div>
    <div class="overview">
        <h2 class="title">
            Open Source Projects
        </h2>
        <p>See our contributions to the open source community.</p>
    </div>
    <div class="cards">
        {{$work := data "opensource.json"}}
        {{ range $work }}
        <figure>
            <img src="{{.image}}" alt="{{.title}}"/>
        </figure>
        {{end}}
    </div>
    <div class="overview">
        <h2 class="title">
            Free Tools
        </h2>
        <p>Learn about some of the tools we built for free.</p>
    </div>
    <div class="cards">
        {{$work := data "tools.json"}}
        {{ range $work }}
        <div class="card">
            <figure>
                <img src="{{.image}}" alt="{{.title}}"/>
            </figure>
            <article>
                <h2 class="title">{{.title}}</h2>
                {{ range .description }}
                <p>{{.}}</p>
                {{end}}
                {{if .url}}
                <a class="mt-5 link" href="{{.url}}"><i class="fa-solid fa-caret-right"></i>Go to {{.title}}</a>
                {{end}}
            </article>
        </div>
        {{end}}
    </div>
</div>
{{end}}